requests
transformers
sentence_transformers 
requests
google.generativeai 
json
time
sklearn.feature_extraction.text 
sklearn.cluster
sklearn.metrics.pairwise 
numpy 
collections 
re
langid
pandas  
json
collections 
tkinter 
tkinter 
collections 
smtplib
email.mime.multipart 
email.mime.text 
